<div class="row">
  <div class="col-xs-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ allowEdit: server.id === 1 ? '1' : '0' }"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        <i
          class="glyphicon glyphicon-tasks"
          [ngClass]="server.status === 'online' ? 'online' : 'offline'"
        ></i>
        <span class="spacer">{{ server.name }}</span>
      </a>
    </div>
  </div>
  <div class="col-xs-8"><router-outlet></router-outlet></div>
</div>
